<h4>Comments for <%= game.name %>:</h4>
<ul>
  <% @game.comments.each do |comment| %>
    <li>
      <p><%= comment.content %></p>
      <p>by: <%= comment.commenter.name %></p>
    </li>

    <% if current_user %>
      <%= render partial: 'comments/destroy', locals: {comment: comment} %>
    <% end %>
  <% end %>
</ul>
