<%= form_for :comment, url: game_comments_path(@game, @comment), class:"form-group" do |f|  %>
  <p>
    <%= f.label "Add a comment" %><br>
    <%= f.text_area :content, class:"form-control", rows:"3" %>
  </p>
  <p>
    <%= f.submit :Comment, class:"btn btn-primary" %>
  </p>
<% end %>
