<div class="jumbotron">
  <div class="container" id="welcome-text">
    <p id="heading">Welcome to Meeple!</p>
    <p>Play board games with your friends. And watch your friends' collections grow. Grow your collection. Do cool things. Don't be dumb.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6" id="left-box"></div>

  <div class="col-md-6" id="right-box"></div>
</div>
