<div class="game-card">
  <h4><%= link_to game.name, game_path(game) %></h4>
  <div class="game-image">
    <img src="http:<%=game.thumbnail_url %>">
  </div>
  <div class="image-action">
    <% if current_user %>
      <% if has_game?(game) %>
         <td><%= render partial: "stashes/destroy", locals: {game: game} %>
        </td>
      <% else %>
        <td><%= render partial: "stashes/new", locals: {game: game} %></td>
      <% end %>
    <% end %>
  </div>
</div>