<div class="sort-panel">
  <span>Sort by: </span>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">A-Z</button>
    <button type="button" class="btn btn-default">Z-A</button>
    <button type="button" class="btn btn-default">Highest Rated</button>
    <button type="button" class="btn btn-default">Most Commented</button>
  </div>
</div>
