<h1>All Games!</h1>

<table>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.name, game_path(game) %></td>
      <td><%= render partial: "stashes/new", locals: {game: game} %></td>
    </tr>
  <% end %>
</table>

