<h1>All Games!</h1>

<table>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.name, game_path(game) %></td>
      <% if current_user %>
        <% if has_game?(game) %>
           <td><%= render partial: "stashes/destroy", locals: {game: game} %>
          </td>
        <% else %>
          <td><%= render partial: "stashes/new", locals: {game: game} %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

