<div class="category-card" id="category-<%= category.id %>">
  <h4 class="center-header"><%= link_to category.name, category_path(category) %></h4>
  <div class="category-image">
    <img src="http:<%=category.games.sample.thumbnail_url %>">
  </div>
  <p class="center-header">Games: <%= category.games.count %></p>
</div>
