<h2 class="center-header">All Categories</h2>

<div id="category-container">
  <% @categories.each do |cat| %>
    <%= render partial: 'categories/category_card', locals: {category: cat} %>
  <% end %>
  </ul>
</div>
