<h2 class="center-header">All games in: <strong><%= @category.name %></strong>.</h2>

<%= render partial: 'games/sort_panel' %>

<div id="game-container">
  <% @category.games.each do |game| %>
    <%= render partial: 'games/game_card', locals: {game: game} %>
  <% end %>
</div>
